In [2]:
from random import randint
x=[]
for i in range(25):
    x.append(randint(1,100))
print(x)

[33, 30, 34, 56, 72, 9, 88, 10, 56, 82, 68, 44, 94, 33, 27, 61, 40, 97, 7, 19, 97, 97, 64, 2, 93]

In [9]:
val=86
if val in x:
    x.remove(val)

In [14]:
x.index(88)

6

In [21]:
x.pop()

19

In [23]:
x.sort()
print(x)

[7, 9, 10, 27, 30, 33, 33, 34, 40, 56, 56, 61, 68, 72, 82, 88, 94, 97]

In [25]:
x.sort(reverse=True)
print(x)

[97, 94, 88, 82, 72, 68, 61, 56, 56, 40, 34, 33, 33, 30, 27, 10, 9, 7]

In [27]:
x=[1,2,3,4,5]
y=x
z=x.copy()
y.append(15)
x.remove(3)
z.append(10)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)
print(y is z)

[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15]
[1, 2, 3, 4, 5, 10]
True
False
False

In [29]:
x=[]
for _ in range(100):
    x.append(randint(1,100))
print(x)

[28, 59, 91, 52, 59, 45, 23, 100, 56, 10, 9, 98, 70, 72, 88, 30, 16, 80, 19, 66, 15, 79, 16, 56, 12, 36, 4, 48, 41, 49, 88, 23, 92, 49, 42, 91, 71, 35, 96, 47, 12, 27, 42, 67, 10, 74, 23, 71, 16, 68, 96, 100, 64, 92, 61, 33, 20, 13, 92, 12, 58, 39, 57, 23, 76, 89, 90, 77, 100, 36, 100, 58, 77, 43, 33, 87, 8, 18, 62, 3, 8, 8, 51, 93, 2, 6, 76, 8, 16, 82, 48, 24, 4, 16, 31, 52, 97, 48, 94, 3]

In [34]:
x=[]
for i in range(100):
    x.append(randint(1,100))
print(x)

[16, 23, 56, 29, 54, 64, 25, 99, 59, 81, 72, 57, 26, 68, 93, 59, 8, 62, 23, 35, 99, 72, 77, 22, 8, 72, 24, 58, 38, 78, 60, 71, 59, 26, 42, 91, 42, 80, 81, 99, 8, 18, 28, 95, 46, 78, 9, 45, 25, 82, 16, 81, 81, 14, 20, 17, 30, 28, 69, 70, 25, 33, 99, 40, 39, 51, 56, 88, 27, 27, 76, 12, 87, 91, 23, 52, 32, 47, 59, 36, 99, 40, 24, 82, 6, 80, 38, 37, 13, 41, 30, 97, 1, 10, 17, 27, 76, 21, 1, 6]

In [40]:
sub25=[i for i in x if i<=25]
print(sum(sub25))

435

In [42]:
x.sort()
print(x)

[1, 1, 6, 6, 8, 8, 8, 9, 10, 12, 13, 14, 16, 16, 17, 17, 18, 20, 21, 22, 23, 23, 23, 24, 24, 25, 25, 25, 26, 26, 27, 27, 27, 28, 28, 29, 30, 30, 32, 33, 35, 36, 37, 38, 38, 39, 40, 40, 41, 42, 42, 45, 46, 47, 51, 52, 54, 56, 56, 57, 58, 59, 59, 59, 59, 60, 62, 64, 68, 69, 70, 71, 72, 72, 72, 76, 76, 77, 78, 78, 80, 80, 81, 81, 81, 81, 82, 82, 87, 88, 91, 91, 93, 95, 97, 99, 99, 99, 99, 99]

In [50]:
y=[11,23,45,65,12.56,67,23,65]
yodd=[]
for i in y:
    if i%2 != 0:
        yodd.append(i)
print(y)
print(yodd)

[11, 23, 45, 65, 12.56, 67, 23, 65]
[11, 23, 45, 65, 12.56, 67, 23, 65]

In [56]:
xcubes = [i**3 for i in x]
print(x)
print(xcubes)

[1, 1, 6, 6, 8, 8, 8, 9, 10, 12, 13, 14, 16, 16, 17, 17, 18, 20, 21, 22, 23, 23, 23, 24, 24, 25, 25, 25, 26, 26, 27, 27, 27, 28, 28, 29, 30, 30, 32, 33, 35, 36, 37, 38, 38, 39, 40, 40, 41, 42, 42, 45, 46, 47, 51, 52, 54, 56, 56, 57, 58, 59, 59, 59, 59, 60, 62, 64, 68, 69, 70, 71, 72, 72, 72, 76, 76, 77, 78, 78, 80, 80, 81, 81, 81, 81, 82, 82, 87, 88, 91, 91, 93, 95, 97, 99, 99, 99, 99, 99]
[1, 1, 216, 216, 512, 512, 512, 729, 1000, 1728, 2197, 2744, 4096, 4096, 4913, 4913, 5832, 8000, 9261, 10648, 12167, 12167, 12167, 13824, 13824, 15625, 15625, 15625, 17576, 17576, 19683, 19683, 19683, 21952, 21952, 24389, 27000, 27000, 32768, 35937, 42875, 46656, 50653, 54872, 54872, 59319, 64000, 64000, 68921, 74088, 74088, 91125, 97336, 103823, 132651, 140608, 157464, 175616, 175616, 185193, 195112, 205379, 205379, 205379, 205379, 216000, 238328, 262144, 314432, 328509, 343000, 357911, 373248, 373248, 373248, 438976, 438976, 456533, 474552, 474552, 512000, 512000, 531441, 531441, 531441, 531441, 551368, 551368, 658503, 681472, 753571, 753571, 804357, 857375, 912673, 970299, 970299, 970299, 970299, 970299]

In [62]:
xsqreven=[]
for i in x:
    if i%2==0:
        xsqreven.append(i**2)
print(x)
print(xsqreven)

[1, 1, 6, 6, 8, 8, 8, 9, 10, 12, 13, 14, 16, 16, 17, 17, 18, 20, 21, 22, 23, 23, 23, 24, 24, 25, 25, 25, 26, 26, 27, 27, 27, 28, 28, 29, 30, 30, 32, 33, 35, 36, 37, 38, 38, 39, 40, 40, 41, 42, 42, 45, 46, 47, 51, 52, 54, 56, 56, 57, 58, 59, 59, 59, 59, 60, 62, 64, 68, 69, 70, 71, 72, 72, 72, 76, 76, 77, 78, 78, 80, 80, 81, 81, 81, 81, 82, 82, 87, 88, 91, 91, 93, 95, 97, 99, 99, 99, 99, 99]
[36, 36, 64, 64, 64, 100, 144, 196, 256, 256, 324, 400, 484, 576, 576, 676, 676, 784, 784, 900, 900, 1024, 1296, 1444, 1444, 1600, 1600, 1764, 1764, 2116, 2704, 2916, 3136, 3136, 3364, 3600, 3844, 4096, 4624, 4900, 5184, 5184, 5184, 5776, 5776, 6084, 6084, 6400, 6400, 6724, 6724, 7744]

In [70]:
a=[11,5,17,18,23,78]
total=0
for i in range(0,len(a)):
        total= total+a[i]
print("Sum of all elements in a given list:",total)

Sum of all elements in a given list: 74

In [72]:
print("Largest number is:",max(a))

Largest number is: 23

In [74]:
print("Smallest number is:",min(a))

Smallest number is: 5

In [79]:
print("Second Largest number is:",max(a))

Second Largest number is: 23

In [88]:
a=[11,23,32,45,56,65,78,98]
a.sort()
print("Second Largest number is:",a[-2])

Second Largest number is: 78